.headbar{
    max-width: 1040px;
    
    margin-top: 20px;
    margin: auto;
}
.container{
    margin-left: 241px;
    
}
.search{
    max-width: 952px;
    margin: auto;
    margin-top: 20px;
}
.content{
  
    max-width: 952px;
    height: 419px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(252, 250, 250, 1);
    border: solid 1px  rgba(252, 250, 250, 1);;
    
    
}
.content>div>.data1{
   
   margin-top: 279px;
   font-size: 28px;
   font-weight: 600;
   text-align: center;
   color: rgba(79, 79, 79, 1);
  

}
.content>div>.data2{
   
    text-align: center;
    color: rgba(79, 79, 79, 1);;
}
.btn>button{
   
    background-color: rgba(21, 34, 89, 1);
    border-radius: 30px;
    padding: 5px;
    
}


.profile-items>div{
    background-color: rgba(239, 243, 250, 1);

}
.teachers-form{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}


@media (max-width: 1200px){
  
    .headbar{
        margin-top: 20px;
    }
    .container{
        margin: auto;
       
    }
   
    .btn>button{
        width: 150px;
        height: 40px;
    }
    
    .form{
        max-width: 900px ;
        margin-left: 10%;
        margin-top: 10%;
    }
}
@media all and (max-width: 768px) and (min-width: 479px){
    .container{
        margin: auto;
       
    }
  
    .btn>button{
        width: 150px;
        height: 40px;
    }
    .form{
        margin-left: 0;
        margin-top: 15%;
        width: 100%;
    }
}
@media all and (max-width: 479px) and (min-width: 228px){
    .container{
        margin: 0;
        
       
    }
   
    .btn>button{
        width: 150px;
        height: 40px;
    }
    
    select{
        width: 70px;
       
    }
    .form{
        margin-left: 0;
        margin-top: 15%;
        width: 100%;
    }

}
.loading1{
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-left: 25%;
    margin-top: 20%;
}